<div class="container">
	<div class="jumbotron">
	<%= image_tag("HS2logo.jpg", :alt => "hs2logo", class: "img-responsive") %>
	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Log in", class: "btn btn-primary btn-lg zoom-out" %></div>
<% end %>

    <p id="copyright">&copy; HS2 Academy<br> All information on this website is password-protected and<br> confidential to be used only for HS2-related purposes.</p>
    </div>
</div> <!-- /container -->


